*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
    
}

body{
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 80px auto 120px;
    grid-template-areas: "h"
                         "m"
                         "f";
}
/* .dashboard-content{
    background-image: url('http://127.0.0.1:8000/static/img/motores.png');
    background-size: cover;
    background-position: center;
    height: 125%;
    

}

.dashboard-content::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: -1;
    text-color: white;
} */

header{
    grid-area: h;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}
header > div > img{
    height: 60px;
}

.left span{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.left{
    display: flex;
    align-items: center;
    float: left;
}

.user-info a img{
    display: flex;
    align-items: center;
    float: left;
    max-width: 40px;
    border-radius: 70px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    color: white;
}
.btn{
    padding: 8px 16px;
    background-color: #4036749f;
    border: none;
    border-radius: 32px;
    color: white;
    transition: color 0.3s ease;

}

main{
    grid-area: m;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.topo-lista{
    text-align: center;
    margin-bottom: 20px;
}

footer{
    grid-area: f;
    background-color: #525151;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.tico{
    padding: 8px 16px;
    background-color: #332b629f;
    border: none;
    border-radius: 32px;
    color: white;
}

.btn-fill{
        padding: 8px 16px;
        background-color: #4f3eae9f;
        border: none;
        border-radius: 32px;
        color: white;
}

@media (max-width: 768) {

    body{
        grid-template-rows: auto 1fr auto;
    }
    
    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap : 16px;
        padding: 16px 0;
    }
    header .left span{
        font-size: 1.3rem;
    }

    main{
        min-width: 65vh;
        height: auto;
    }

    footer{
        font-size: 20px;
        text-align: center;
        padding: 16px;
    }
} 




