{% extends "base.html" %}

{% block title %} Listagem de dados dos sensores{% endblock %}

{% block content %}


    <h1>Listagem de Dados dos Sensores</h1>

<a href="{% url 'dadossensor_form' %}" class= "tico"> Novo Dado do Sensor</a>

{%for dadossensor in object_list%}
<div class="topo-lista">
<ul>
    <h3>Dado do Sensor ID: {{dadossensor.pk}}</h3>
    <li>Data e Hora: {{dadossensor.DataHora}}</li>
    <li>Sensor: {{dadossensor.SensorId.Nome}}</li>
    <li>Motor: {{dadossensor.MotorId.Marca}} {{dadossensor.MotorId.Modelo}}</li>
    <li>Valor: {{dadossensor.Valor}}</li>
</ul>
    <span class="btn-fill">
    <a href="{% url 'dadossensor_form' dadossensor.pk %}">Editar</a>
    </span>
    <span class="btn-fill">
    <a href="{% url 'dadossensor_delete' dadossensor.pk %}">Excluir</a>
    </span>
</div>
<hr>
{%endfor%}


    
{% endblock %}
