{% extends "base.html" %}

{% block title %} Lista de Motores {% endblock %}

{% block content %}

<div class="topo-lista">
    <h2>Lista de Motores</h2><br>
    <a class = "tico" href="{% url 'motor_form' %}">Novo Motor</a>
    <br><br>

</div>

<hr>
{%for motor in object_list%}
<div class="topo-lista">
<br>
<ul>
    <h3>Motor</h3><br>
    <li>Modelo: {{motor.Modelo}}</li>
    <li>Marca: {{motor.Marca}}</li>
    <li>Potência: {{motor.Potencia}}</li>
    <li>Descrição: {{motor.Descricao}}</li>
    
</ul>
<br>
<span class="btn-fill">
<a class= "ticos" href="{% url 'motor_form' motor.pk %}">Editar</a>
</span>
<span class="btn-fill">
<a class="ticos" href="{% url 'motor_delete' motor.pk %}">Excluir</a>
</span>
<br><br>
</div>
<hr>
{%endfor%}

{% endblock %}