{% extends "base.html" %}

{% block title %} Lista de Sensores {% endblock %}

{% block content %}

<div class="topo-lista">
    <h2>Lista de Sensores</h2><br>
    <a class = "tico" href="{% url 'sensor_form' %}">Novo Sensor</a>
    <br><br>
    <hr>
</div>

{%for sensor in object_list%}
<br>
<div class="topo-lista">
<ul>
    <h3>Sensor</h3><br>
    <li>Id do Sensor: {{sensor.Id}}</li>
    <li>Tipo do Sensor: {{sensor.Tipo}}</li>
    <li>Nome do Sensor: {{sensor.Nome}}</li>
    
</ul>
<br>
    <span>
        <a href="{% url 'sensor_form' %}" class="btn-fill">Editar</a>

        <a href="{% url 'sensor_delete' sensor.pk %}" class="btn-fill">Deletar</a>
    </span>
</div>
<br><br>
<hr>

{%endfor%}

{% endblock %}
