{% extends "base.html" %}

{% block title %} Lista de Associação {% endblock %}

{% block content %}

<div class="topo-lista">
    <h2>Lista de Associação entre Sensores e Motores</h2><br>
    <a class = "tico" href="{% url 'sensormotor_form' %}">Nova Associação</a>
    <br><br>
    <hr>
</div>

{%for sensormotor in object_list%}

<div class="topo-lista">
    <ul>
        <h3>Associação</h3>
        <li>Id: {{sensormotor.Id}}</li>
        <li>Id do Motor: {{sensormotor.MotorId}}</li>
        <li>Id do Sensor: {{sensormotor.SensorId}}</li>

        
    </ul>
    <li>
        <br>
        <a href="{% url 'sensormotor_form' sensormotor.pk %}" class="btn-fill">Editar</a>
        <a href="{% url 'sensormotor_delete' sensormotor.pk %}" class="btn-fill">Deletar</a>
    </li>
    <br>
    <hr>
</div>
{%endfor%}

{% endblock %}