{% extends "base.html" %}

{% block title %} Lista de Associação {% endblock %}

{% block content %}

<br>
<a href="{% url 'sensormotor_form'%}" class="tico">Nova assosiação</a>
<br><br>

{%for sensormotor in object_list%}

<ul>
    <h3>Associação</h3>
    <li>Id: {{sensormotor.Id}}</li>
    <li>Id do Motor: {{sensormotor.MotorId}}</li>
    <li>Id do Sensor: {{sensormotor.SensorId}}</li>

    
</ul>
<li>
    <br>
    <a href="{% url 'sensormotor_form' sensormotor.pk %}" class="btn-fill">Editar</a>
    <a href="{% url 'sensormotor_delete' sensormotor.pk %}" class="btn-fill">Deletar</a>
</li>
{%endfor%}

{% endblock %}